{% extends 'base.html' %}
{% load static %}

{% block aside_menu %}{% endblock aside_menu %}

{% block content %}
      <div class="row mb-5 mt-5">
            <form class="form-signin" method="post" action="{% url 'login' %}" novalidate>
                {% csrf_token %}
                <h3>Login to Ecommerce</h3>
                {% include 'includes/bs4_form.html' with form=form %}
                <input class="btn btn-outline-dark mt-2" type="submit" value="Login">
                <p class="mt-2">Forgot a password? <a href="{% url 'password_reset' %}">Reset here</a>.</p>
            </form>
      </div>
{% endblock content %}