{% extends 'base.html' %}

{% block aside_menu %}{% endblock aside_menu %}

{% block content %}
<div class="mt-5 mb-5">
  <p>Your new password has been set. You can log in <a href="{% url 'login' %}">here</a>.</p>
</div>
{% endblock %}
