{% extends 'base.html' %}

{% block aside_menu %}{% endblock aside_menu %}

{% block content %}
  <div class="mt-5 mb-5">
    <p>We will send you instructions on how to set a password by e-mail. If there is an account with the email address entered, you should receive it shortly.</p>
    <p>If you do not receive an email, please make sure to enter the email address you registered with and check your spam folder.</p>
  </div>
{% endblock %}
