{% extends 'base.html' %}

{% block aside_menu %}{% endblock aside_menu %}

{% block content %}
<div class="mt-5 mb-5">
  <p>Enter your e-mail address to which you will receive, a link where you can set a new password.</p>
  <form method="post" novalidate>
    {% csrf_token %}
    {% include 'includes/bs4_form.html' with form=form %}
    <input class="btn btn-outline-secondary mt-2" type="submit" value="Send">
  </form>
</div>
{% endblock %}
