{% extends 'base.html' %}

{% block aside_menu %}{% endblock aside_menu %}

{% block content %}
<div class="mt-5 mb-5">
  {% if validlink %}
    <h3>Change password</h3>
    <form method="post">
        {% csrf_token %}
        {% include 'includes/bs4_form.html' with form=form %}
        <input class="btn btn-outline-secondary mt-2" type="submit" value="Change password">
    </form>
  {% else %}
    <p>The password reset link was invalid, possibly because it had already been used. Reset your password again - <a href="{% url 'password_reset' %}">password reset link</a>.</p>
  {% endif %}
</div>
{% endblock %}
