{% extends 'base.html' %}

{% block aside_menu %}{% endblock aside_menu %}

{% block content %}
    <div class="justify-content-center mt-5 mb-5">
        <h3>Signup to Ecommerce</h3>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor  %}
        {% endif %}

        <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/bs4_form.html' with form=form %}
            <input class="btn btn-outline-dark mt-2" type="submit" value="Signup">
        </form>
    </div>
{% endblock content %}
{% block footer %}{% endblock footer %}
