{% extends 'base.html' %}
{% load static %}

{% block aside_menu %}{% endblock aside_menu %}

{% block content %}
    <div class="mt-4 my-4">
        <h3>Error 500</h3>
        <p class="font-weight-light text-justify">Plase start from our home page, by clicking <a href="{% url 'shop:list' %}">here</a>.</p>
    </div>
{% endblock content %}
