{% load static %}
{% load cart_template_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Ecommerce solution 2020</title>
  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <!-- Custom styles for this template -->
  <link href="{% static 'css/shop-homepage.css' %}" rel="stylesheet">
  {% block extra_head %}{% endblock extra_head %}
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Ecommerce</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'shop:about' %}">About</a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'shop:order-summary' %}" class="nav-link waves-effect">
              <span class="badge red z-depth-1 mr-1"> {{ request.user|cart_item_count }} </span>
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Cart </span>
            </a>
          </li>
          {% endif %}
          <li class="nav-item">
            {% if request.user.is_authenticated %}
              <a href="{% url 'shop:user-summary' %}" class="nav-link">{% if request.user.is_authenticated %} Login as: {{ request.user }}{% endif %}</a>
            {% endif %}
          </li>
          <li>
            {% if user.is_authenticated %}
              <a href="{% url 'logout' %}" class="nav-link">Logout</a>
            {% else %}
              <a href="{% url 'login' %}" class="nav-link">Login</a>
            {% endif %}
          </li>
          <li>
            {% if not user.is_authenticated %}
              <a href="{% url 'signup' %}" class="nav-link">Signup</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
      <div class="row">
        {% block aside_menu %}
        <div class="col-lg-3">
          <h1 class="my-4">Ecommerce</h1>
          <div class="list-group">
            {% if categories %}
              {% for category in categories %}
                <a href="{{ category.get_absolute_url }}" class="list-group-item">{{ category }}</a>
              {% endfor %}
            {% else %}
              <h5>Please add category in admin panel</h5>
            {% endif %}
          </div>
        </div>
        {% endblock aside_menu %}
          <div class="col-lg-9">
            {% block content %}{% endblock content %}
          </div>
      </div>
  </div>
  <!-- /.container -->
  <!-- Footer -->
  {% block footer %}{% endblock footer %}

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
{% block extra_scripts %}
{% endblock extra_scripts %}

</body>

</html>
