{% extends 'base.html' %}
{% load static %}

    {% block content %}
       <h1 class="my-4">Category name: {{ category.name }}</h1>
       <div class="row">
          {% for item in category.category_item.all %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="{{ item.get_absolute_url }}"><img class="card-img-top" src="{{ item.image.url }}" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                </h4>
                <h5>
                  <strong>€
                  {% if item.discount_price %}
                  {{ item.discount_price }}
                  {% else %}
                  {{ item.price }}
                  {% endif %}
                  </strong>
                </h5>
                <p class="card-text"><a href="{% url 'shop:category' item.category.slug %}">{{ item.category.name }}</a></p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
    {% endblock content %}
