{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block aside_menu %}{% endblock aside_menu %}

{% block content %}
  <main>
    <div class="container wow fadeIn">
      <h2 class="my-5 h2">Checkout form</h2>
      <div class="row">
        <div class="col-md-8 mb-4">
          <div class="card">
            {% comment %}
            <form>
              {% csrf_token %}
              {{ form|crispy }}
              <button class="btn btn-primary" type="submit">Checkout</button>
            </form>
            {% endcomment %}
            <form class="card-body" method="post">
              {% csrf_token %}
              <div class="md-form mb-5">
                {% comment %}<input type="text" id="address" class="form-control" placeholder="">{% endcomment %}
                {{ form.street_addres }}
                <label for="address" class="">Address</label>
              </div>
              <div class="md-form mb-5">
                {% comment %}<input type="text" id="address-2" class="form-control" placeholder="">{% endcomment %}
                {{ form.apartment_address }}
                <label for="address-2" class="">Address 2 (optional)</label>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                  <label for="country">Country</label>
                  {% comment %}
                  <select class="custom-select d-block w-100" id="country" required>
                    <option value="">Choose...</option>
                    <option>United States</option>
                  </select>
                  {% endcomment %}
                  {{ form.country }}
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                  <label for="zip">Zip</label>
                  {% comment %}<input type="text" class="form-control" id="zip" placeholder="" required>{% endcomment %}
                  {{ form.zip }}
                  <div class="invalid-feedback">
                    Zip code required.
                  </div>
                </div>
              </div>
              <hr>
              <div class="custom-control custom-checkbox">
                <input {% if form.same_shipping_address.value %}checked{% endif %} type="checkbox" class="custom-control-input" name='same_shipping_address' id="same-address">
                <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input {% if form.save_info.value %}checked{% endif %} type="checkbox" class="custom-control-input" name='save_info' id="save-info">
                <label class="custom-control-label" for="save-info">Save this information for next time</label>
              </div>
              <hr>
              <div class="d-block my-3">
                {% for value, name in form.fields.payment_option.choices %}
                  <div class="custom-control custom-radio">
                    <input id="{{ name }}" name="payment_option" value="{{ value }}" type="radio" class="custom-control-input" required>
                    <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
                  </div>
                {% endfor %}
              </div>
              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}
