{% extends 'base.html' %}
{% load static %}
  <!-- Page Content -->
    {% block content %}
        <div class="mt-5 mb-5">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-primary" role="alert">
                        {{ message }}
                    </div>
                {% endfor  %}
            {% endif %}
        </div>
        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
              {% if headers %}
                  {% for image in headers %}
                    <div class="carousel-item {% if image == headers.0 %}active {% endif %}">
                      <img class="d-block img-fluid" src="{{ image.image.url }}" alt="" style="width:900px; height:350px">
                    </div>
                  {% endfor %}
              {% else %}
                    <div class="carousel-item">
                      <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="Example slide">
                    </div>
              {% endif %}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="row">
        {% if object_list %}
              {% for item in object_list %}
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <a href="{{ item.get_absolute_url }}"><img class="card-img-top" src="{{ item.image.url }}" alt=""></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                    </h4>
                    <h5>
                      <strong>€
                      {% if item.discount_price %}
                      {{ item.discount_price }}
                      {% else %}
                      {{ item.price }}
                      {% endif %}
                      </strong>
                    </h5>
                    <p class="card-text">{% if item.category %}<a href="{% url 'shop:category' item.category.slug %}">{{ item.category.name }}</a>{% endif %}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
          {% else %}
            <h2>No product items</h2>
          {% endif %}
        </div>

        {% if is_paginated %}
            <nav aria-label="..." class="mt-3">
              <ul class="justify-content-center pagination pagination-sm">
                  {% if page_obj.has_previous %}
                    <li class="page-item">
                      <a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a>
                    </li>
                  {% else %}
                    <li class="page-item disabled">
                      <span class="page-link">Previous</span>
                    </li>
                  {% endif %}

                  {% for i in paginator.page_range %}
                      {% if page_obj.number == i %}
                        <li class="page-item active" aria-current="page"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                      {% else %}
                        <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                      {% endif %}
                  {% endfor %}

                  {% if page_obj.has_next %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                  {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Next</span>
                    </li>
                  {% endif %}
              </ul>
            </nav>
        {% endif %}
    {% endblock content %}
