{% extends "base.html" %}

{% block aside_menu %}{% endblock aside_menu %}

{% block content %}
  <main>
    <div class="container">
        <div class="table-responsive text-nowrap my-4">
          <h2>Order summary</h2>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Item title</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total item price</th>
              </tr>
            </thead>
            <tbody>
            {% for order_item in object.items.all %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ order_item.item.title }}</td>
                <td>{{ order_item.item.price }}</td>
                <td>
                  <a href="{% url 'shop:remove-single-item-from-cart' order_item.item.slug %}"><i class="fas fa-minus mr-2"></i></a>
                  {{ order_item.quantity }}
                  <a href="{% url 'shop:add-to-cart' order_item.item.slug %}"><i class="fas fa-plus ml-2"></i></a>
                </td>
                <td>
                  {% if order_item.item.discount_price%}
                    €{{ order_item.get_total_discount_item_price }}
                    <span class="badge badge-primary">Saving: €{{ order_item.get_amount_saved }}</span>
                  {% else %}
                    ${{ order_item.get_total_item_price }}
                  {% endif %}
                  <a style="color:red;" href="{% url 'shop:remove-from-cart' order_item.item.slug %}">
                    <i class="fas fa-trash float-right"></i>
                  </a>
                </td>
              </tr>
            {% empty %}
            <tr>
              <td colspan="5">Your card is empty</td>
              <tr>
                <td colspan="5">
                  <a class="btn btn-primary float-right" href="/">Continue shoping</a>
                </td>
              </tr>
            </tr>
            {% endfor %}
            {% if object.get_total %}
              <tr>
                <td colspan="4">Order total:</td>
                <td>€{{ object.get_total }}</td>
              </tr>
              <tr>
                <td colspan="5">
                  <a class="btn btn-warning float-right ml-2" href="{% url 'shop:checkout' %}">Procced to checkout</a>
                  <a class="btn btn-primary float-right" href="/">Continue shoping</a>
                </td>
              </tr>
            {% endif %}
            </tbody>
          </table>
        </div>
    </div>
  </main>

{% endblock content %}