{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'js/client.js' %}" defer></script>
{% endblock extra_head %}

{% block aside_menu %}{% endblock aside_menu %}

{% block content %}
  <div class="row justify-content-md-center mb-5 mt-5">
    <form action="." method="post" id="payment-form">
      {% csrf_token %}
      <input type="hidden" name="use_default" value="true">
      <div id="card-element"><!--Stripe.js injects the Card Element--></div>
      <div class="stripe-form-row">
        <button id="stripeBtn">Submit Payment</button>
      </div>
      <div id="card-errors" role="alert"></div>
    </form>
  </div>

  <div class="mb-5 mt-5">
    <ul class="list-group">
        {% for order_item in order.items.all %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ order_item.quantity }} x {{ order_item.item.title }}
        <span class="badge badge-primary badge-pill">{{ order_item.get_final_price }}</span>
      </li>
        {% endfor %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
          <span><strong>Total (Euro)</strong></span>
          <span class="badge badge-primary badge-pill">€{{ order.get_total }}</span>
      </li>
    </ul>
  </div>
{% endblock content %}
