{% extends 'base.html' %}
{% load static %}

{% block content %}
        <div class="card mt-4 my-4">
          <img class="card-img-top img-fluid" src="{{ object.image.url }}" alt="">
          <div class="card-body">
            <h3 class="card-title">{{ object.title }} {% if object.category %} | <a href="{% url 'shop:category' object.category.slug %}">{{ object.category.name }}</a> {% endif %} </h3>
            <h4>
                <span class="mr-1">
                {% if object.discount_price %}
                  <del>{{ object.price }}</del>
                {% endif %}
              </span>
              <span>€
                {% if object.discount_price %}
                  {{ object.discount_price }}
                {% else %}
                  {{ object.price }}
                {% endif %}
              </span>
            </h4>
            <p class="card-text">{{ object.description|linebreaks }}</p>
            <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </a>
            <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">Remove from cart</a>
          </div>
        </div>
        <!-- /.card -->
{% endblock content %}
