{% extends 'base.html' %}
{% load static %}
{% block aside_menu %}{% endblock aside_menu %}
    {% block content %}
        <h2 class="mt-5 mb-5">Order summary for: {{ user.username }}</h2>
        <div class="row justify-content-md-center mb-5 mt-5">
            <h2>Items already ordered</h2>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Price</th>
                </tr>
              </thead>
              <tbody>
                    {% for order in done %}
                        <tr>
                            <td>{{ order.start_date }}</td>
                            <td>{{ order.payment.amount }}</td>
                        </tr>
                    {% endfor %}
              </tbody>
            </table>

            <h2>Items in progress</h2>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Price</th></tr>
              </thead>
              <tbody>
              <tbody>
                    {% for order in in_progress %}
                        <tr>
                            <td>{{ order.start_date }}</td>
                            <td>{{ order.payment.amount }}</td>
                        </tr>
                    {% endfor %}
              </tbody>
              </tbody>
            </table>

        </div>
    {% endblock content %}
